{
	email bekti.aditya16@gmail.com
	admin 0.0.0.0:2019
	auto_https disable_redirects
}

*.adityabekti.net, adityabekti.net {
	tls {
		dns cloudflare Gc7NfM8thjOcLPyl9-5g_SlYIkVRDMNzn2GzGf__
	}
	
	@base host adityabekti.net
	handle @base {
		respond "Coming Soon"
	}
	
	@www host www.adityabekti.net
    	handle @www {
		redir https://adityabekti.net{uri}
	}

	@pihole host pihole.adityabekti.net
	handle @pihole {
		encode zstd gzip
		redir / /admin{uri}
		reverse_proxy pihole:80
	}

	@wireguard host wg.adityabekti.net
	handle @wireguard {
    		reverse_proxy wg-easy:51821
  	}

	@homepage host home.adityabekti.net
	handle @homepage {
		reverse_proxy homepage:3000
	}

	@ekuper host ekuper.adityabekti.net
	handle @ekuper {
		root * /srv/public
		encode gzip
		php_fastcgi ekuper-php-1:9000 {
			root /var/www/html/public
		}
		file_server
	}

	@filegator host file.adityabekti.net
	handle @filegator {
		reverse_proxy filegator:8080
	}

	handle {
		abort
	}
}